<p id="notice"></p>
 <div class="container mt-4">
 <div class="row">
  <div class="col-8 mx-auto">
  <center><h2 style="font-family: impact;">Edit Q&A</h2></center>
   <!--エラーメッセージ-->
   <% if @question.errors.any? %>
    <h5 class="text-danger"><%= @question.errors.count %> error</h5>
    <ul>
     <% @question.errors.full_messages.each do |message| %>
      <li><%= message %></li>
     <% end %>
    </ul>
   <% end %>

   <%= form_with model:@question, local:true do |f| %>
    <div class="form-group">
     <strong><label for="question_title">Title</label></strong>
     <%= f.text_field :title, class: "form-control", autofocus: true, id:"inputName", rows:"1" %>
    </div>

     <!--セレクトボックス-->
    <div class="form-group">
     <strong><label for="post_title">Genre</label></strong><br>
      <%= f.collection_select :genre_id, Genre.all, :id, :name, include_blank: "選択して下さい" %>
    </div>

    <div class="form-group">
     <strong><label for="question_opinion">Question</label></strong>
     <%= f.text_area :body,class: "form-control", autofocus: true, id:"inputName", rows:"10" %>
    </div>

    <div class="form-group">
     <%= f.submit "Update Book", class: "btn btn-primary" %>
    </div>
   <% end %>

    <%= link_to "Show", question_path(@question.id) %>
    <strong>|</strong>
    <%= link_to "Back", questions_path %>
  </div>
 </div>