<body>
 <main>
  <div class="container px-5 px-sm-0">
   <div class="row">
    <!--ユーザー情報-->
    <div class="col-md-3">
     <%= render 'users/info', user:@user %>
    </div>

    <div class="col-md-8 offset-md-1 mt-3">
      <h2 style="font-family: impact;">Q&A</h2>
      <table class="table table-hover table-inverse">
       <thead>
        <tr>
         <th>User</th>
         <th>Title</th>
         <th>Body</th>
         <th colspan="3"></th>
        </tr>
       </thead>
       <tbody>
       <% @questions.each do |question| %>
        <tr>
         <td>
          <%= link_to user_path(question.user) do %>
           <%= attachment_image_tag question.user, :profile_image, :fill, 40, 40, format: 'jpeg', fallback: "no_image.jpg" %>
          <% end %>
         </td>

         <td>
          <%= link_to question.title, question_path(question.id) %>
         </td>

         <td>
          <%= link_to questions_path do %>
           <%= question.genre.name %>
          <% end %>
         </td>

         <td>
          <%= question.body %>
         </td>

        </tr>
       <% end %>
       </tbody>
      </table>
      <br>
      <!--新規質問ボタン-->
     <div class="col-md-6">
      <%= link_to new_question_path, class: "btn btn-outline-secondary btn-block" do %>
       <strong><i>New Question</i></strong>
      <% end %>
     </div>
    </div>
   </div>
  </div>
 </main>
</body>
