　<%= flash[:notice] %>
  <div class="container px-5 px-sm-0">
   <div class="row">

    <!--ユーザー情報-->
    <div class="col-md-3">
     <%= render 'users/info', user:@user %>
    </div>

    <div class="col-md-8 offset-md-1">
     <h2 style="font-family: impact;">Q&A</h2>
      <table class="table">
       <tbody>
        <tr>
         <td><strong>User</strong></td>
         <td><strong>Title</strong></td>
         <td><strong>Genre</strong></td>
         <td colspan='3'></td>
        </tr>

        <tr>
         <td>
          <%= link_to user_path(@user.id) do %>
           <%= attachment_image_tag @user, :profile_image, :fill, 40, 40, format: 'jpeg', fallback: "no_image.jpg" %>
          <% end %>
           <br>
          <%= link_to user_path(@user.id) do %>
           <p><%= @question.user.name %></p>
          <% end %>
         </td>

         <td>
          <%= link_to @question.title, question_path(@question) %>
         </td>

         <td>
          <%= link_to posts_path(genre: @question.genre.id) do %>
           <%= @question.genre.name %>
          <%end%>
         </td>

         <td>
          <% if @question.user == current_user %>
          <%= link_to "Edit",edit_question_path(@question), class: "btn btn-sm btn-success edit_book_id" %>
          <% end %>
         </td>

         <td>
          <% if @question.user == current_user %>
          <%= link_to "Destroy",question_path(@question), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-sm btn-danger destroy_book_id" %>
          <% end %>
         </td>
        </tr>

        <tr>
         <td>
          <strong><h5>Q&A Body</h5></strong>
         </td>
         
         <td>
          <strong><p>コメント：<%= @question.comments.count %>件</p></strong>
         </td>
         <td colspan='3'></td>
        </tr>

        <tr>
         <td colspan='5'>
           <%= sanitize(@question.body).gsub("\n", '<br>').html_safe %>
         </td>
        </tr>

       </tbody>
      </table>

      <!--コメント-->
      <div id="comment_area">
       <%= render 'comments/index', comment: @comment, question: @question %>
      </div>
      <div class="comment_form col-md-3">
       <%= render 'questions/comment', question: @question, comment: @comment %>
      </div>
     </div>


   </div>
  </div>

