<table class="table table-hover table-inverse">
<tbody>
  <% question.comments.each do |comment| %>
 <tr>
  <td>
  <%= link_to user_path(comment.user.id) do %>
   <%= attachment_image_tag comment.user, :profile_image, :fill, 40, 40, format: 'jpeg', fallback: "no_image.jpg" %>
  <% end %>
  <br>
  <%= link_to user_path(comment.user.id) do %>
   <p><%= comment.user.name %></p>
   <% end %>
  </td>

  <td>
   <p><%= sanitize(comment.comment).gsub("\n", '<br>').html_safe %></p>
  </td>

  <td>
   <% if comment.user == current_user %>
    <%= link_to "Destroy",question_comment_path(comment.question,comment), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-sm btn-danger destroy_question_id", remote: true %>
   <% end %>
  </td>
 </tr>
  <% end %>
</tbody>
</table>