 <center><h1 style="font-family: impact;">user</h1></center>
  <% if user.profile_image %>
   <center><%= attachment_image_tag user, :profile_image, :fill,100,100, format: 'jpeg', fallback: "no_image.jpg" %></center>
  <% else %>
   <img class="main_img" src="/assets/no_image-c7305210e2d30bf8f19461ca05a151bba6413a44a35124f673246160efefdc5e.jpg">
  <% end %>
  <table class="table">
   <tbody>
    <tr>
	    <th>name</th>
	    <th><%= user.name %></th>
    </tr>

    <tr>
     <th>profile</th>
     <th><%= user.profile %></th>
    </tr>

    <tr>
     <th>follows</th>
     <th>
      <%= link_to user.followings.count, followings_user_path(user) %>
     </th>
    </tr>

    <tr>
     <th>followers</th>
     <th>
      <%= link_to user.followers.count, followers_user_path(user) %>
     </th>
    </tr>

    <tr>
     <th colspan="3">
     <% if user != current_user %>
      <% if current_user.already_followed?(user) %>
       <%= link_to user_relationships_path(user), method: :delete do %>
        <button class="btn btn-primary">フォロー中</button>
       <% end %>
      <% else %>
       <%= link_to user_relationships_path(user), method: :post do %>
        <button class="btn btn-primary">フォローする</button>
       <% end %>
      <% end %>
     <% end %>
     </th>

    </tr>

   </tbody>
  </table>
  <div class="mr-3">
   <% if user == current_user %>
    <%= link_to edit_user_path(user), class: "btn btn-outline-secondary btn-block" do %>
     <i class="fas fa-user-cog"></i>
    <% end %>
   <% end %>
  </div>
 

  
 
