  <div class="container px-5 px-sm-0">
   <div class="row">
    <!--ユーザ情報-->
    <div class="col-md-3">
     <%= render 'users/info', user:@user %>
   </div>
    <div class="col-md-8 offset-md-1 mt-3">
     <h2 style="font-family: impact;">Users</h2>
      <table class="table table-hover table-inverse">
       <thead>
        <tr>
         <th>Image</th>
         <th>Name</th>
         <th>Follows</th>
         <th>Followers</th>
         <th colspan=""></th>
        </tr>
       </thead>
       <tbody>
       <% @users.each do |user| %>
        <tr>
         <td>
          <%= attachment_image_tag user, :profile_image, :fill, 40, 40, format: 'jpeg', fallback: "no_image.jpg", size:"40x40" %>
         </td>

         <td>
          <strong><%= user.name %></strong>
         </td>

         <td>
          <p class="fas fa-user">　<strong><%= user.followings.count %></strong></p>
         </td>

         <td>
          <p class="far fa-user">　<strong><%= user.followers.count %></strong></p>
         </td>

         <td>
         <% if user != current_user %>
          <% if current_user.already_followed?(user) %>
           <%= link_to "フォロー中", user_relationships_path(user), method: :delete, class: "btn btn-primary" %>
          <% else %>
           <%= link_to "フォローする",user_relationships_path(user), method: :post, class: "btn btn-primary"  %>
          <% end %>
         <% end %>
         </td>

         <td>
          <strong><%= link_to "Show", user_path(user) %></strong>
         </td>

        </tr>
       <% end %>
       </tbody>
      </table>
      <!--ページネーション-->
      <div class="col-md-6">
       <%= paginate @users %>
      </div> 
    </div>
   </div>
  </div>