<body>
 <main>
  <div class="container px-5 px-sm-0">
   <div class="row">
    <!--ゆーざー情報-->
    <div class="col-md-3">
     <%= render 'users/info', user:@user %>
    </div>

    <div class="col-md-8 offset-md-1 mt-3">
     <h2 style="font-family: impact;">Posts</h2>
      <table class="table table-hover table-inverse">
       <thead>
        <tr>
         <th>User</th>
         <th>Title</th>
         <th>Genre</th>
         <th>Post Body</th>
         <th colspan="4"></th>
        </tr>
       </thead>
       <tbody>
       <% @posts.each do |post| %>
        <tr>
         <td>
          <%= link_to user_path(post.user) do %>
           <%= attachment_image_tag post.user, :profile_image, :fill, 40, 40, format: 'jpeg', fallback: "no_image.jpg" %>
          <% end %>
         </td>

         <td>
          <%= link_to post.title, post_path(post.id) %>
         </td>

         <td>
          <%= link_to posts_path(genre: post.genre.id) do %>
           <%= post.genre.name %>
          <%end%>
         </td>

         <td>
          <%= post.body %>
         </td>

         <td id="favorite_buttons_<%= post.id %>">
          <%= render 'favorites/favorite', post:post, favorite:@favorite %>
         </td>

        </tr>
       <% end %>
       </tbody>
      </table>

      <br>
      <!--新規投稿ボタン-->
     <div class="col-md-6">
      <%= link_to new_post_path, class: "btn btn-outline-secondary btn-block" do %>
       <strong><i>New Post</i></strong>
      <% end %>
     </div>
    </div>
   </div>
  </div>
 </main>
</body>
