<body>
 <main>
　<p id="notice">Welcome! You have signed up successfully.</p>
  <div class="container px-5 px-sm-0">
   <div class="row">
    <!--ゆーざー情報-->
    <div class="col-md-3">
     <%= render 'users/info', user:@user %>
    </div>

    <div class="col-md-8 offset-md-1">
     <h2>Posts</h2>
      <table class="table table-hover table-inverse">
       <thead>
        <tr>
        <th>Title</th>
        <th>genre</th>
        <th></th>
        <th colspan="3"></th>
        </tr>
       </thead>
       <tbody>
       <% @posts.each do |post| %>
        <tr>
         <td>
          <%= link_to user_path(post.user) do %>
           <%= attachment_image_tag post.user, :profile_image, :fill, 40, 40, format: 'jpeg', fallback: "no_image.jpg" %>
          <% end %>
         </td>

         <td>
          <%= link_to post.title, post_path(post.id) %>

         </td>

         <td>
          <%= post.body %>
         </td>

         <td id="favorite_buttons_<%= post.id %>">
          <%= render 'favorites/favorite', post:post, favorite:@favorite %>
         </td>

         <td>
          <p><%= link_to "#{post.comments.count}コメント",post_path(post.id) %></p>
         </td>
        </tr>
       <% end %>
       </tbody>
      </table>
    </div>
   </div>
  </div>
 </main>
</body>
