<div class="container mt-3">
 <div class="row">
  <div class="col-10 mx-auto">
   <!--ユーザー-->
  <% if @model == 'user' %>
   <center><h3 style="font-family: impact;">search results"<%= @content %>"</h3></center>
   <% if @records.empty? %>
    <p>検索結果がありません</p>
   <% else %>
   <table class="table table-hover table-inverse">
    <thead>
     <tr>
      <th>Image</th>
      <th>Name</th>
      <th>Follows</th>
      <th>Followers</th>
      <th colspan="4"></th>
     </tr>
    </thead>
    <tbody>
    <% @records.each do |user| %>
     <tr>
      <td>
       <%= attachment_image_tag user, :profile_image, :fill, 40, 40, format: 'jpeg', fallback: "no_image.jpg" %>
      </td>

      <td>
       <%= user.name %>
      </td>

      <td>
       <p class="fas fa-user">　<strong><%= user.followings.count %></strong></p>
      </td>

      <td>
       <p class="far fa-user">　<strong><%= user.followers.count %></strong></p>
      </td>

      <td>
       <% if user != current_user %>
        <% if current_user.already_followed?(user) %>
         <%= link_to "フォロー中", user_relationships_path(user), method: :delete, class: "btn btn-primary" %>
        <% else %>
         <%= link_to "フォローする",user_relationships_path(user), method: :post, class: "btn btn-primary" %>
        <% end %>
       <% end %>
      </td>

      <td>
       <strong><%= link_to "Show", user_path(user) %></strong>
      </td>
     </tr>
    <% end %>
    </tbody>
   </table>
   <% end %>
  <!--投稿-->
  <% elsif @model == 'post' %>
   <center><h3 style="font-family: impact;">search results"<%= @content %>"</h3></center>
   <% if @records.empty? %>
    <p>検索結果がありません</p>
   <% else %>
   <table class="table table-hover table-inverse">
    <thead>
     <tr>
      <th></th>
      <th>Title</th>
      <th>Genre</th>
      <th>Post Body</th>
      <th colspan="3"></th>
     </tr>
    </thead>
    <tbody>
    <% @records.each do |post| %>
     <tr>
      <td>
       <%= link_to user_path(post.user) do %>
        <%= attachment_image_tag post.user, :profile_image, :fill, 40, 40, format: 'jpeg', fallback: "no_image.jpg" %>
       <% end %>
      </td>

      <td>
       <%= link_to post.title, post_path(post) %>
      </td>

      <td>
       <%= link_to posts_path(genre: post.genre.id) do %>
        <%= post.genre.name %>
       <%end%>
      </td>

      <td>
       <%= post.body %>
      </td>

      <td>
       <% if current_user.already_favorited?(post) %>
        <%= link_to post_favorites_path(post), method: :delete do %>
         <i class="fas fa-heart"></i>
        <% end %>
       <% else %>
        <%= link_to post_favorites_path(post), method: :post do %>
         <i class="far fa-heart"></i>
        <% end %>
       <% end %>
       <%= post.favorites.count %>
       </td>
      </tr>
     <% end %>
    </tbody>
   </table>
   <% end %>
  <!--質問-->
  <% else @model == 'question' %>
   <center><h3 style="font-family: impact;">search results"<%= @content %>"</h3></center>
   <% if @records.empty? %>
    <p>検索結果がありません</p>
   <% else %>
   <table class="table table-hover table-inverse">
    <thead>
     <tr>
      <th></th>
      <th>Title</th>
      <th>Genre</th>
      <th>Q&A Body</th>
      <th colspan="3"></th>
     </tr>
    </thead>
    <tbody>
    <% @records.each do |question| %>
     <tr>
      <td>
       <%= link_to user_path(question.user) do %>
        <%= attachment_image_tag question.user, :profile_image, :fill, 40, 40, format: 'jpeg', fallback: "no_image.jpg" %>
       <% end %>
      </td>

      <td>
       <%= link_to question.title, post_path(question) %>
      </td>

      <td>
       <%= link_to questions_path(genre: question.genre.id) do %>
        <%= question.genre.name %>
       <%end%>
      </td>

      <td>
       <%= question.body %>
      </td>

      <td>
       <p><%= link_to "#{question.comments.count}コメント",question_path(question.id) %></p>
      </td>
      </tr>
     <% end %>
    </tbody>
   </table>
   <% end %>
  <% end %>
  </div>
 </div>
</div>