<!DOCTYPE html>
<html>
  <head>
    <title>Learnwith</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" integrity="sha256-UzFD2WYH2U1dQpKDjjZK72VtPeWP50NoJjd26rnAdUI=" crossorigin="anonymous" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <!--ログインフラッシュメッセージ-->
   <% if flash[:notice] %>
    <div class="notification is-info">
     <p class="notice"><%= notice %></p>
    </div>
   <% end %>

   <% if flash[:alert] %>
    <div class="notification is-danger">
     <p class="alert"><%= alert %></p>
    </div>
   <% end %>

   <!--ヘッダー-->
  <header class="shadow-sm">
   <nav class="navbar navbar-dark bg-dark">
    <div class="container">
     <%= link_to root_path, class: "navbar-item" do %>
      <h1 class="text-white bg-dark" style="font-family: cursive;">LearnWith</h1>
     <% end %>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
     </button>
     <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">
      <% if user_signed_in? %>
       <li class="nav-item">
        <% link_to "ログアウト", destroy_user_session_path, method: :delete, class: "button is-warning is-light" %>
       </li>

      <% else %>
       <% link_to "ログイン", new_user_session_path, class: "button is-warning is-light" %>
       <% link_to "新規登録", new_user_registration_path, class: "button is-warning is-light" %>
      <% end %>
      </ul>
     </div>
    </div>
   </nav>
  </header>
  <!--メイン-->
  <main>
   <%= yield %>
  </main>
  <!--フッター-->
  <footer class="bg-dark text-white pt-5 pb-4">
   <div class="container">
    <div class="row no-gutters">
     <div class="col-md-4">
      <p>フッターメッセージ</p>
      <h1 class="text-white bg-dark" style="font-family: cursive;">LearnWith</h1>
     </div>
     <div class="col-md-8">
      <h6 class="text-white mt-2 mb-3">Link</h6>
      <ul class="p-0 list-unstyled">
       <li>
        <a href="" title="License informations" class="text-white-50">プライバシーポリシー</a>
       </li>
      </ul>
     </div>
    </div>
   </div>
  </footer>

  </body>
</html>
